*{
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body{
    background-color: #D8E1E9;
    background-image: url(bg1.jpg);
    background-size: cover;
}

.container{
    backdrop-filter: blur(4px);
    height: 100vh;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 10%;
    background-color: black;
    color: white;
    max-width: 100vw;
    align-items: center;
}

nav > a{
    padding-right: 12px;
}

a:visited{
    color: white;
}

a:hover{
    color: purple;
}

a:link{
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 1.25em;
    padding: 20px;
    padding-right: 25px;
    color: white;
}

h1{
    font-size: 2.1em;
    padding: 20px;
    padding-left: 60px;
    color: white;
    text-align: center;
}

footer{
    width: 100%;
    height: 10%;
    /* background-color: #305376; */
    background-color: black;
    color: white;
    bottom: 0;
    text-align: center;
    position: sticky;
}

footer p{
    padding-top: 30px;
    font-size: 1.25em;
}

#projects{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img{
    width: 300px;
    height: 200px;
    margin: 20px;
}

.containers{
    max-height: 500px;
    max-width: 500px;
    height: 350px;
    width: 350px;
    background-color: black;
    border: 2px solid white;
    text-align: center;
    color: white;
    margin: 50px;
    border-radius: 15px;
}

.containers a{
    font-size: 20px;
    margin: 5px;
    margin-top: 10px;
    color: lightseagreen;
}

.container a:hover{
    color: purple;
}